<!DOCTYPE html>
<html>

<head>
  <title>Todo App</title>
</head>

<body>
  <h1>Todo List</h1>

  <a href="/todos/new">Add Todo</a>

  <ul>
    {% for todo in todos %}
    <li>
      {% if todo.completed %}
      <s>{{ todo.text }}</s>
      {% else %}
      {{ todo.text }}
      {% endif %}

      <form action="/todos/{{ todo.id }}/toggle" method="post" style="display:inline;">
        <button type="submit">Toggle</button>
      </form>

      <form action="/todos/{{ todo.id }}/delete" method="post" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
    {% endfor %}
  </ul>
</body>

</html>
